.parkingpage {
  margin: 0px;
  background-image: url("../Assets/6379831.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: scroll;
}

.parkingSpotsContanier {
  margin-top: 50px;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
  padding: 0px;
}
#parkingHeader {
  font-size: 1.6em;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: gold;
  padding: 10px;
  text-align: left;
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-weight: 700;
  margin: 0px;
  text-align: center;
}
.occupiedImg {
  margin-top: 0px;
  position: relative;
  bottom: 26px;
  border: none;
  height: 140px;
  width: 80px;
  transform: rotate(89deg);

}
.occupiedSpace1 {
  padding: 0px;
  list-style: none;
  border-radius: 10px;
  transform: rotate(0deg);
  height: 90px;
  width: 140px;
  background-color: tomato;
}

.occupiedSpace2 {
    padding: 0px;
    list-style: none;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    right: 60vw;
    transform: rotate(0deg);
    height: 90px;
    width: 140px;
    background-color: tomato;
  }
  .occupiedSpace3 {
    padding: 0px;
    list-style: none;
    border-radius: 10px;
    transform: rotate(0deg);
    position: relative;
    top:150px;
    right: 50px;
    height: 90px;
    width: 140px;
    background-color: tomato;
  }
  .occupiedSpace4 {
    padding: 0px;
    list-style: none;
    border-radius: 10px;
    transform: rotate(0deg);
    position: relative;
    top:140px;
    right: 320px;
    height: 90px;
    width: 140px;
    background-color: tomato;
  }
  .occupiedSpace5 {
    padding: 0px;
    list-style: none;
    border-radius: 10px;
    transform: rotate(0deg);
    position: relative;
    top:250px;
    right: 130px;
    height: 90px;
    width: 140px;
    background-color: tomato;
  }
  .occupiedSpace6 {
    padding: 0px;
    list-style: none;
    border-radius: 10px;
    transform: rotate(0deg);
    position: relative;
    top:300px ;
    right: 400px;
    height: 90px;
    width: 140px;
    background-color: tomato;
  }
  .occupiedSpace7 {
    padding: 0px;
    list-style: none;
    border-radius: 10px;
    transform: rotate(0deg);
    position: relative;
    bottom: 280px;
    left: 400px;
    height: 90px;
    width: 140px;
    background-color: tomato;
  }
  .occupiedSpace8 {
    padding: 0px;
    list-style: none;
    border-radius: 10px;
    transform: rotate(0deg);
    position: relative;
    bottom: 250px;
    left: 145px;
    height: 90px;
    width: 140px;
    background-color: tomato;
  }
  .occupiedSpace9 {
    padding: 0px;
    list-style: none;
    border-radius: 10px;
    transform: rotate(0deg);
    position: relative;
    left:320px;
    bottom: 130px;
    height: 90px;
    width: 140px;
    background-color: tomato;
  }
.parkingDots {
  border-top: dashed 3px rgba(248, 248, 250, 0);
  border-bottom: dashed 3px rgba(244, 244, 245, 0);
  transform: rotate(-30deg);
  padding: 0px 0px;
  height: 90px;
  width: 140px;
}

.freeparkingspot1{
    list-style: none;
    border-radius: 10px;
    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
    font-size: 3rem;
     font-weight: bold;
}
.freeparkingspot2{
    list-style: none;
    border-radius: 10px;
    position: relative;
    top: 20px;
    right:255px;
    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
    font-size: 3rem;
     font-weight: bold;
}
.freeparkingspot3{
    list-style: none;
    border-radius: 10px;
    position: absolute;
    top: 129px;
    right:70px ;
    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
    font-size: 3rem;
     font-weight: bold;
}
.freeparkingspot4{
    list-style: none;
    border-radius: 10px;
    position: relative;
    top: 147px;
    right:328px;
    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
    font-size: 3rem;
     font-weight: bold;
}
.freeparkingspot5{
    list-style: none;
    border-radius: 10px;
    position: relative;
    top:250px ;
    right: 147px;
    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
    font-size: 3rem;
     font-weight: bold;
}
.freeparkingspot6{
    list-style: none;
    border-radius: 10px;
    position: relative;
    top:300px ;
    right: 400px;
    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
    font-size: 3rem;
     font-weight: bold;
}
.freeparkingspot7{
    list-style: none;
    border-radius: 10px;
    position: relative;
    bottom: 271px;
    left: 400px;

    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
    font-size: 3rem;
     font-weight: bold;
}
.freeparkingspot8{
    list-style: none;
    border-radius: 10px;
    position: relative;
    bottom: 250px;
    left: 145px;
    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
    font-size: 3rem;
     font-weight: bold;
}
.freeparkingspot9{
    list-style: none;
    border-radius: 10px;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    bottom:145px;
    left: 327px;
    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
}

.freeparkingspotrender{
    list-style: none;
    border-top: dashed 3px rgb(248, 248, 250);
   border-bottom: dashed 3px rgb(244, 244, 245);
    border-radius: 10px;
    transform: rotate(-30deg);
    height: 90px;
    width: 140px;
    background-color: rgb(5, 154, 42);
}

@media screen and (min-width: 1000px) {
  .parkingSpotsContanier {
    column-gap: 0px;
    top: 0px;
    left: 390px;
    height: 70vw;
    width: 100vh;
  }
  .parkingDots {
    height: 160px;
  }
}

@media screen and (max-height: 700px) {
  .parkingSpotsContanier {
    top: 160px;
    column-gap: 80px;
  }
}
